.heading {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 180px;
    display: flex;
    align-items: center;
}

.menu-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-right: 27px;
}
.clglogo {
    border-radius: 35%;
    width: 7%;
    float: left;
    margin: 20px 10px 20px 0px;
}
.body{
    background-image: url("luxa.org-opacity-changed-Nomadic.jpg");
    background-size: cover;
}
.clglogo2 {
    border-radius: 50%;
    width: 7%;
    position: fixed;
    top: 20px;
    bottom: 20px;
    right: 40px;
    
}
.caption{
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
    color: black;
}
.text {
    float: left;
    margin-top: 29px;
    margin-left: 30px;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgb(122, 200, 255);
    padding-bottom: 5px;
    color: black;
    border: 0px;
    z-index: 100;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 15px 0;
    }
    .heading {
        margin-top: 20px;
    }

    .menu-item {
        margin: 10px 0;
    }

    .clglogo,
    .clglogo2 {
        width: 15%;
        margin: 10px;
    }
}
.idea {
    background-image: url("1luxa.org-opacity-changed-creative-mind-concept-intelligence-art-collage-white-background-generative-ai_58409-30549.jpg");
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 145px;
}

@media only screen and (max-device-width: 1366px) {
    .idea {
        background-attachment: scroll;
    }
}

.aicte {
    margin-top: 100px;
    height: 250px;
}
.About{
    text-align: justify;
    margin: 50px auto 70px auto;
    padding: 35px;
    width: 80%;
}
.intro {
    width: 80%;
    margin: 50px auto 90px auto;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 35px;
}

p,li {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 1.8;
}

.faci,
.amb,
.team,
.ment,
.ongp,
.comp {
    width: 70%;
    margin: 30px auto 90px auto;
    padding: 35px;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 2s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);

.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item a:hover {
    color: white;
}  
}
.footer{
    text-align: center;
    background-color: rgb(122, 200, 255);
    padding-top: 30px;
}
.lin{
    width:90px;
    height: 85px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.ins
    {
    width:95px;
    height: 95px;
    margin-bottom: 30px;
}

.dropbtn {
    background-color: rgb(122, 200, 255);
    color: black;
    padding: 16px;
    font-size: 22px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(76, 185, 212);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgba(79, 147, 196, 0.74);}
.image-slideshow .slideshow-container img:not(:first-child) {
    display: none;
}

.image-slideshow .slideshow-container {
    display: flex;
    justify-content: center;
}

.image-slideshow .slideshow-container img {
    max-width: 100%;
    max-height: 350px;
    width: auto;
}
.prev{
    position: relative;
    right: 400px;
    bottom: 200px;
    width: 50px;
    height: 50px;
}
.next{
    position: relative;
    height: 50px;
    width: 50px;
    bottom: 200px;
    left: 400px;
}

* {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .container {
    max-width: 1380px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  
  .team-head-text {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 0px;
  }
  
  .name {
    font-size: 18px;
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 700;
  }
  
  .position {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .team-card-container {
    width: 263px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
  }
  
  .teamcard-container {
    justify-content: space-evenly;
  }
  
  .team-img-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .team-img {
    max-width: 100%;
  }
  
  @media (max-width: 500px) {
    .team-card-container {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
      width: 100%;
    }
  
    .team-img {
      width: 100%;
    }
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}